<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <h1 class='h1-heading-logo'><strong>Hungry Belly</strong></h1>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ml-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services"><strong>Services</strong></a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio"><strong>Product</strong></a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about"><strong>About</strong></a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team"><strong>Team</strong></a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact"><strong>Contact</strong></a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/accounts/register/"><strong>Register/Login</strong></a></li>

            </ul>
        </div>
    </div>
</nav>
